.searchbox{
    border-radius: 20px;
    width: 98%;
    padding: 0px 0px 0px 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    margin: auto;
    color: white;
}

.card{
    width: 100%;
    margin: auto;
    height: 130px;
    cursor: pointer;
}

.contact-photo{
    border-radius: 50%;
    width: 80px;
}

.contact-details{
    margin-top: auto;
    margin-left: 20px;
}

.contact-info{
    margin-left: 20px;
}

